language: node_js
node_js:
  - "10"
  - "12"
env:
  - CODACY_PROJECT_TOKEN ="lTbP7Sp77jutsccIL2GyzUzYweHv4nf5K"
  - CODECOV_TOKEN =":c644c860-2927-4051-a512-5f2efa323601"
script:
  - printf '{"username":"fj","password":"fjkd"}' > /tmp/config.json
  - yarn global add codecov
  - yarn run mocha -r ts-node/register test/*.ts --exit
  - yarn 
after_success:
  - codecov
